@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  /* box-shadow: 0 0 5px grey;  */
  border-radius: 10px;
  background: #ffffff00;
}
 
::-webkit-scrollbar-thumb {
  background: #1c1c1c; 
  border-radius: 10px;
}