  .map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .navigation {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 30px;
    color: #ffffffa8;
    z-index: 1 !important;
    padding: 1.8px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
  }
  .marker {
    background-image: url('./assets/mapbox-icon.png');
    /* background-image: url('./assets/marker-editor.svg'); */
    background-size: cover;
    width: 32px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }


  .geocoder{
    padding: 10%;
    
  }