.container1 {
    border-radius: 6px;
    margin-left: 30%;
    padding: 20px;
    width: 600px;
    height: 450px;
    box-shadow: 0px 0px 100px -80px;
    
  }
  
  .card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  }
  
  .formR{
  margin:auto;
  }
  
  .bienvenidos{
  margin: 10px auto;
  font-size: 25px;
  }
  
  .botonesReg{
  display: flex;
  flex-direction: column;
  }
  
  .botonRegistrar{
  font-weight: 400;
  color: white;
  padding: 4px;
  margin: 2px;
  border: 1px groove rgba(255, 255, 255, 0.74);
  background-color: green !important;
  }
  
  .botonInicio{
  font-weight: 400;
  color: white;
  padding: 4px;
  margin: 2px;
  border: 1px groove rgba(255, 255, 255, 0.74);
  background-color: rgb(12, 127, 204)
  }
  
  .errorMsg {
  color: red;
  font-size: 14px;
  }
  
  .imglogoR {
  height: 70px;
  margin: 0px;
  padding-left: 3pc;
  }
  
  .imglogoform {
  width: 146px;
  margin: 22px;
  height: auto;
  }
  
  #inpt_reg_new {
  margin-bottom: 15px;
  margin-top: 5px;
  }
  
  