.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    background-color: rgb(0, 0, 0, 0.1);
    font-size: 20px;
    color: grey;
    height: 90px;;
    width: 100%;
    
  }

  .social {
      margin-left: 8%;
  }
  .social-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
  }

  .text {
    font-size: 22px;
}