.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    background-color: rgb(0, 0, 0, 0.1);    
    color: grey;
    height: 4rem;
    position: fixed;
  }
  body{
    display: flex;
    flex-direction: column;
    min-height: 100vh ;
  }
  .social {
      margin-left: 8%;
      background-color: white;
      border-radius: 50%;
  }
  .social-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
  }

  .text {
    font-size:medium;
    color: white
}