.cont {
    background-color: rgba(255, 255, 255, 0.856);
    border-radius: 15px;
    margin: 100px auto;
    width: 320px;
    height: 500px;
    display: flex;
    border-color: white;
    box-shadow: 0px 0px 200px -80px;
}

.cont2{
    margin: 150px auto;
}

.contflex{
    display: flex;
    flex-direction: column;
}

.imglogin {
    width: 146px;
    height: auto;
    margin: 21px;
}

.btnlogin {
    height: 40px;
    width: 189px;
    border: groove;
    font-size: 12px;
}

.btnlogincontinue {
    height: 40px;
    width: 189px;
    border: groove;
    color: black;
    background-color: #6ec272;
}

.btnlogincontinueBlocked {
    height: 40px;
    width: 189px;
    border: groove;
    color: white;
    background-color: #ababab;
    cursor: not-allowed!important;
}

.btnloginback {
    background-color: #62cbe4;
    height: 40px;
    width: 189px;
    border: #9a9a9a;
    font-size: 12px;
    color: white;
}

.inpt {
    height: 40px;
    width: 189px;
    margin: 0px;
}

.inptValue {
    height: 40px;
    width: 189px;
    margin: 0px;
    border-color: #6ec272;
    background-color: whitesmoke;
}

.inptwr {
    height: 40px;
    width: 189px;
    border-color: red;
}

.desclogin {
    font-size: 12px;
}

.noaccreg {
    font-size: 13px;
    margin: auto;
}

.errorNotWrtd {
    font-size: 12px;
    color: red;
    left: 92px;
    margin: 2px;
}

.checkbocshowpass {
    float: left;
    position: relative;
    left: 115px;
    top: 7px;
}

.showpass {
    font-size: 13px;
    display: initial;
    position: relative;
    right: 15px;
    font-weight: 600;
    color: gray;
}