.container1 {
    /* background-color: white; */
    border-radius: 15px;
    margin: 100px auto;
    padding: 0px 20px;
    width: 420px;
    height: 760px!important;
    /* border-color: white; */
    box-shadow: 0px 0px 200px -80px;
    display: flex;
    flex-direction: column;
}

.form-control {
  margin: 5px 0px;
  padding: 2px;
}

.errorMsg {
  color: red;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}

.imglogoR {
  height: 70px;
  margin: 0px;
  padding-left: 3pc;
}

.imglogoform {
  width: 146px;
  margin: 22px;
  height: auto;
}

.reCap {
  display: inline-block;
}

#inpt_reg_new {
  margin-bottom: 15px;
  margin-top: 5px;
}

.elPdeAbajoReg {
  font-weight: 400;
  font-size: 13px;
  color: gray;
}

#error_en_reg{
  margin: 0px;
  position: relative;
  left: 67px !important;
  bottom: 11px !important;
}

#reg_cont_lg{
  margin-top: 1pc;
}